.DS_Store
/target
/classes
/checkouts
pom.xml
pom.xml.asc
figwheel_server.log
*.jar
*.class
/.lein-*
/.nrepl-
/app/js/p
/.repl
/out
/node_modules
/electron
/app/config.json
/app/*.log
/builds
/app/index.html
.nrepl-port
/.repl*
*-init.clj
/.idea
*.iml
